
<span ng-hide="lapChart.loading" class="title"><img src="{{lapChart.selectedRace.flag}}" height="14px">
        {{lapChart.selectedRace.name + ", " + lapChart.selectedRace.season}}
</span>
<div class="raceSelect">
        <select class="seasonSelect form-select-sm" ng-model="lapChart.selectedRace.season"
                ng-options="year for year in lapChart.getSeasonsWithData()"></select>
        <select class="roundSelect form-select-sm" ng-model="lapChart.selectedRace.round"
                ng-options="round for round in lapChart.getRoundsWithData(lapChart.selectedRace.season)"></select>
        <button class="btn btn-success btn-sm raceSelectButton" ng-hide="lapChart.loading" ng-click="lapChart.refreshChart()">Go</button>
</div>  
<br>
<div loading-spinner="lapChart.loading"></div>
<div ng-hide="lapChart.loading">
        <div id="chart"></div>
        <chart race-results=lapChart.selectedRace.results></chart>
        <div class="footer">
        <span class="legend">M = mechanical failure | P = pit stop | X = accident | D = disqualified | Mouse click to focus on a lap
        </span>
        <span class="authors">
                App by <a href="https://github.com/anuragbansal009">Anurag Bansal</a> -
                Code in <a href="https://github.com/anuragbansal009/f1-lap-charts">Github</a>
        </span>
        </div>
</div>
